.response-container {
    /* border-top: 1px solid rgb(215, 215, 215); */
    border-bottom: 1px solid rgb(226, 226, 226);
}


.response-author{
    margin-bottom: 0px;
    font-family: Arial, sans-serif;
    font-size: 13px;


}

.response-date{

    margin-top: 2px;
    color: grey;
    font-family: Arial, sans-serif;
    font-size: 14px;

}

.response-body{
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.response-menu {
    font-weight: bold;
    float: right;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.edit-response-button{
    border-radius: 20px;
    border: none;
    background-color: rgb(9, 104, 26);
    color: white;
    height: 35px;
    width: 120px;
    /* margin: auto; */
    margin-top: 50px;
    float: right;
  }

.cancel-edit-button{

    border: none;
    background-color: rgb(255, 255, 255); 
    color: rgb(62, 62, 62);
    height: 35px;
    width: 90px;
    /* margin: auto; */
    margin-top: 50px;
    float: right;
    padding: 0px;
  }

  .response-menu-modal{
    /* background-color: #ffffff; */
    /* border: 1px solid #bebebe; */
    /* border-radius: 2px; */
    /* width: 100px; */
    /* border: 1px solid rgb(222, 222, 222); */
    padding-right: 20px;
    width: 100px;
    margin-left: auto; 
    margin-right: 0;


    /* color: green; */
    /* display: flex; */
    /* z-index: 1; */
}

.response-menu-modal p {
    text-align: right;
    margin-top: 7px;
    margin-bottom: 7px;

    /* color: green; */
    /* border: 1px solid black; */
} 

.response-menu-delete {
    color: red;
}

