.topic-title {
    text-align: center;
    margin-top: 25px;
}

.topic-subtitle {
    text-align: center;
    color: grey;
}

p.explore-topics {
    text-align: center;
    color: grey;
}

.topic-show-container{
    padding-left: 55px;
    margin-top: 40px;
}