.explore-topics {
    text-align: center;
}

.topics-container{
    display: flex;
    justify-content: space-between;
    padding-right: 150px;
    padding-left: 150px;
}

.topics-container p{
    color: rgb(104, 104, 104);
}

