.modal-overlay {
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: #ffffff;
    border: 1px solid #bebebe;
    border-radius: 2px;
    padding: 12px 16px;
    height: 100%;
    width: 575px;
    padding-top: 350px;
  }

  .modal p {
    font-size: 28px;
    text-align: center;
    margin-bottom: 70px;
  }

  button {
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    height: 35px;
    width: 120px;
    margin: auto;
    margin-top: 8px;
  }

  input {
    border: none;
    border-bottom: 1px solid black;
    display: block;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 275px;
    outline: none;
    text-align: center;
  }

::placeholder {
    text-align: center; 
    color: rgb(204, 203, 203);
 }

.container {
  display: flex;
  flex-direction: column;
  border: none;
}

#x {
  text-align: right;
  margin-top: 0px;
  padding-top: 0px;
  padding-right: 70px;
  color: grey;
  font-size: 23px;
}

.demo-button {
  width: 140px;
}

p.error {
  color: red;
  font-size: 12px;
  margin: 3px;
  padding: 3px;
}

.div-errors {
  margin-bottom: 15px;
}




