.header {
    border-bottom: solid 1px black;
    display: flex;
    justify-content: space-between;
    background-color: rgb(247, 195, 38);
    margin: 0px;
    padding: 0px;
    height: 70px;
    padding-top: 15px;
    padding-left: 50px;
    /* position: fixed; */
    /* width: 96%; */
    /* top: 0; */
}

.header-left-item p{
    font-size: 32px;
}

img {
    width: 40px;
    height: 40px;
    margin-top: 4px;
}

.header-right {
    display: flex;
    width: 50%;
    justify-content: right;
    padding-right: 10px;

}

.header-right-item {
 margin-left: 20px;
}


.header-left {
    display: flex;
    padding-left: 10px;

}

.header-left-item {
    margin-right: 5px;
}

.header-left-item p {
    font-size: 22px;
    margin-top: 10px;
}


